body{
    font-family: 'Montserrat', sans-serif;
    object-fit: contain;
    background-blend-mode: multiply, darken;
    background-color: #363d46;
	
}

.fundo-nav{
    background-image: url(../img/fundo.png);
    height: 768px;
    width: auto;
    object-fit: contain;
    background-blend-mode: multiply, darken;
    font-family: 'Montserrat', sans-serif;
}

.custom-toggler.navbar-toggler {
    border-color: white;         
   }
   .custom-toggler .navbar-toggler-icon {
   color: white;
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.navbar{
    background-color: transparent !important;
}

.navbar-nav{
 
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  
.navbar-brand  h2{
  color: white;
   }
   
.navbar-brand  h6{
   color: white;
    opacity: 0.6;
 }

 .text-apresentacao h1{
    padding-top: 300px;
    text-align: center;
    color: white;

}

.text-apresentacao h3{
    text-align: center;
    color: gray;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    
    
}

.navbar-nav a{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    
}

.nav-iten :hover{
    color:coral;
}



.social-icon{
    width: 40px;
    height: 40px;
    object-fit: contain;
  }


 .miniatura{
    width: 360px;
    height: 360px;
    display: inline-block;
    padding-left: 0%;
    background-size: contain;
    overflow: hidden;
    margin: 0;
}

.miniatura a {
text-decoration: none;
}

 .miniatura h1{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 300px;
    font-family: 'Montserrat', sans-serif;
}
.page-footer{
    padding-top: 30px;
    width: auto;
    height: 253px;
    object-fit: contain;
    background-color: #363d46;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer-text{
      padding-left: 150px;
  }
  .foto-galery img {
    width: 357px;
    height: 360px; 
   
}

.foto-galery{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
          